{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="column">
		<h2>New Custom Climb</h2>
		<form action="add_climb" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<table>
			{{ form.as_table }}
			</table>
			<input type="submit", name="new_climb", value="Submit">
		</form>
	</div>
	<div class="column">
		<h2>New Add-On Game</h2>
		<p>To add a move to an existing game, see the <a href="/view_climbs">view climbs page.</a></p>
		<form action="add_climb" method="post">
			{% csrf_token %}
			<table>
			{{ add_on_form.as_table }}
			</table>
			<input type="submit", name="add_on", value="Submit">
		</form>
	</div>
</div>

{% endblock %}

