{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<h1>Climb Details</h1>
					<a class="preview-holder" href="{{climb.id}}" >
						<div class='preview'>
							<img class="grid_photo" src="{{climb.picture.url}}">
				<p>V{{climb.grade}} | {{climb.location}} | {{climb.creator}}
							{% if climb.reset %}
							{% autoescape off %}
							| <span style="color:red">Reset</span>
							{% endautoescape %}
				                        {% endif %}
							{% if climb.completed %}
							{% autoescape off %}
							| <span style="color:green">Sent</span>
							{% endautoescape %}
				                        {% endif %}
				</p>
						</div>
					</a>
<form action="{{climb.id}}" method="post">{% csrf_token %}
{% autoescape off %}
{{ submit }}
{% endautoescape %}</form>
{% endblock %}
